<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Home Page</title>

  <!-- Bootstrap core CSS -->
  <link href="static/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="static/css/fontawesome.css">
  <link rel="stylesheet" href="static/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="static/css/owl.css">
  <link rel="stylesheet" href="static/css/lightbox.css">
  <link rel="stylesheet" href="static/css/myCustom.css">
  <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{{url_for('index')}}" class="logo">
              Virtual Cinemas
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="{{url_for('index')}}" class="active">Home</a>
              </li>
              <li><a href="{{url_for('promotions')}}">Promotions</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Pages</a>
                <ul class="sub-menu">
                  {% if session['email'] or request.cookies.get('email')%}
                  <li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
                  {% endif %}
                  <li><a href="{{url_for('view_Payment')}}">Edit Payment Details</a></li>
                </ul>
              </li>
              {% if not session['email']%}
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>
              {% else %}
              <li><a href="{{url_for('logout')}}">Logout</a></li>
              {% endif %}
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <source src="static/images/movie_reel.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="caption">
              <h6>Hello Movie Lovers!</h6>
              <h2>Welcome to Virtual Cinemas</h2>
              <p>We don't gatekeep the world of film, so our movie selection is available to view to anyone! If you are
                looking to purchase tickets to your favorite movie, we ask that you register an account with us before
                checking out. Happy browsing! </p>
              <div class="main-button-red">
                {% if not session['email']%}
                <div><a href="{{url_for('register')}}">Sign Up Now!</a></div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <h2 class="centeredNew" style="color: white;">Now Showing</h2><br><br><br>
      <div class="row">
        <div class="col-lg-12">

          <div class="owl-service-item owl-carousel">
            <div class="item" style="background-image: url(../static/images/moonfall.jpg);">
              <div class="icon">
                <a href="{{url_for('movie_details')}}"><img src="../static/images/play-icon.png" alt=""></a>
              </div>
              <div class="down-content">
                <br><br><br>
              </div>
            </div>

            <div class="item" style="background-image: url(../static/images/JackassForever.jpeg);">
              <div class="icon">
                <a href="{{url_for('movie_details')}}"><img src="../static/images/play-icon.png" alt=""></a>
              </div>
              <div class="down-content">
                <br><br><br>
              </div>
            </div>

            <div class="item" style="background-image: url(../static/images/MarryMe.jpg);">
              <div class="icon">
                <a href="{{url_for('movie_details')}}"><img src="../static/images/play-icon.png" alt=""></a>
              </div>
              <div class="down-content">
                <br><br><br>
              </div>
            </div>

            <div class="item" style="background-image: url(../static/images/DeathOnTheNile.jpg);">
              <div class="icon">
                <a href="{{url_for('movie_details')}}"><img src="../static/images/play-icon.png" alt=""></a>
              </div>
              <div class="down-content">
                <br><br><br>
              </div>
            </div>

            <div class="item" style="background-image: url(../static/images/FantasticBeasts.jpg);">
              <div class="icon">
                <a href="{{url_for('movie_details')}}"><img src="../static/images/play-icon.png" alt=""></a>
              </div>
              <div class="down-content">
                <br><br><br>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section><br><br><br>

  <section class="apply-now" id="apply">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="row">
            <br><br><br>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="accordions is-first-expanded">
            <article class="accordion">
              <div class="accordion-head">
                <span>Completely Legal!</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p>Don't settle for the low quality, iPhone camera footage you can find on 123M*vies, we've got huge
                    speakers and screens to curate a completely immersive viewing experience.</p>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>We have snacks!</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p>Many snacks. Popcorn. Soft drinks. Nachos. Glizzys. Pizza. Ice cream. Candy. Tendies. </p>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-head">
                <span>Ads and Trailers Galore!</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p>Unfortunately, we do have many more ads than your traditional movie pirating site, but you can
                    always come in late to miss the nuissance altogether.</p>
                </div>
              </div>
            </article>
            <article class="accordion last-accordion">
              <div class="accordion-head">
                <span>Connect with our socials!</span>
                <span class="icon">
                  <i class="icon fa fa-chevron-right"></i>
                </span>
              </div>
              <div class="accordion-body">
                <div class="content">
                  <p>Lastly, we'd appreciate it if you left us a friendly review on our socials! To ensure we recieve an
                    adequate number of responses, you will be held back after the movie to submit a quick review, as
                    well as a movie summary to prove you're an acturate source. </p>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-courses" id="courses">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading centeredNew">
            <h2>All Movies</h2><br><br><br>
          </div>
        </div><br><br><br><br><br><br>
        <div class="col-lg-12 card centeredNew">
          <div class="categories">
            <div class="row" style="float: right;">
              <div class="row-cols-lg-1">
                <h3>Search</h3><br>
                <input type="text" placeholder="Search.."><br><br><br>
              </div>

            </div>
            <div class="row" style="float: left;">
              <h3>Filters</h3><br><br><br>
              <div class="filters">
                <ul>
                  <li data-filter="*" class="active">All Movies</li>
                  <li data-filter=".current">Now showing</li>
                  <li data-filter=".soon">Coming Soon</li>
                </ul><br><br>
              </div>
            </div>
          </div>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>

        <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">
            <div class="item">
              <img src="../static/images/moonfall2.jpg" alt="Course One">
              <div class="down-content">
                <h4>Moonfall</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>May 20</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/jackassforever2.jpg" alt="Course One">
              <div class="down-content">
                <h4>Jackass Forever</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>May 20</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/marryme2.jpg" alt="Course One">
              <div class="down-content">
                <h4>Marry Me</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>May 20</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/deathOnTheNile2.jpg" alt="Course One">
              <div class="down-content">
                <h4>Death On The Nile</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>May 20</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="item">
                <img src="../static/images/FantasticBeasts.jpg" alt="Course One">
                <div class="down-content">
                  <h4>Fantastic Beasts</h4>
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <ul>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                          <li><i class="fa fa-star"></i></li>
                        </ul>
                      </div>
                      <div class="col-4">
                        <span>May 20</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
              <img src="../static/images/superpets.jpg" alt="Course One">
              <div class="down-content">
                <h4>DC League of Super-Pets</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>May 20</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/BobsBurgers.png" alt="Course Two">
              <div class="down-content">
                <h4>The Bob's Burgers Movie</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>May 27</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="../static/images/JurassicWorldDominion.jpg" alt="">
              <div class="down-content">
                <h4>Jurassic World Dominion</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>June 10</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/Lightyear.jpg" alt="">
              <div class="down-content">
                <h4>Lightyear</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>June 17</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/MinionsRiseOfGru.jpg" alt="">
              <div class="down-content">
                <h4>Minions: The Rise of Gru</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>July 1</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/ThorLoveAndThunder.jpg" alt="">
              <div class="down-content">
                <h4>Thor: Love and Thunder</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>July 8</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="item">
              <img src="../static/images/Nope.jpg" alt="">
              <div class="down-content">
                <h4>Nope</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>July 22</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/BlackAdam2.jpg" alt="">
              <div class="down-content">
                <h4>Black Adam</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>July 29</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/Spiderman.jpg" alt="">
              <div class="down-content">
                <h4>Spider-Man: Across the Spider-Verse (Part One)</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>October 7</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/HalloweenEnds.jpg" alt="">
              <div class="down-content">
                <h4>Halloween Ends</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>October 14</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="../static/images/Aquaman.jpg" alt="">
              <div class="down-content">
                <h4>Aquaman and the Lost Kingdom</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                      <span>December 22</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="our-facts">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Us </h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content percentage">
                    <div class="count-digit">94</div>
                    <div class="count-title">Loved Our Movies</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">126</div>
                    <div class="count-title">Kernels Per Popcorn Bucket</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content new-students">
                    <div class="count-digit">2345</div>
                    <div class="count-title">Left a Positive Facebook Review</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">1</div>
                    <div class="count-title">Best Movie Theatre</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="video">
            <a href="{{url_for('suprise')}}" target="_blank"><img src="static/images/play-icon.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/lightbox.js"></script>
    <script src="../static/js/tabs.js"></script>
    <script src="../static/js/video.js"></script>
    <script src="../static/js/slick-slider.js"></script>
    <script src="../static/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $('.nav li:first').addClass('active');

      var showSection = function showSection(section, isAnimate) {
        var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $('body, html').animate({
            scrollTop: reqSectionPos
          },
            800);
        } else {
          $('body, html').scrollTop(reqSectionPos);
        }

      };

      var checkSection = function checkSection() {
        $('.section').each(function () {
          var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
            reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
          }
        });
      };

      $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
        e.preventDefault();
        showSection($(this).attr('href'), true);
      });

      $(window).scroll(function () {
        checkSection();
      });
    </script>
</body>

</body>

</html>