<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Manage Users</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet" href="../static/css/lightbox.css">
    <link rel="stylesheet" href="../static/css/myCustom.css">
    <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>



    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            Virtual Cinemas
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="admin_portal3.html">Home</a></li>
                           
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <section class="meetings-page" id="meetings">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card container">
                        <div class="text-center">
                            <br><h2>Manage Users</h2><br>
                        </div>
                    
                        <div class="searchClass">
                            <form class="my-2" action="#" th:action="@{/searchUser}" method="post">
                               
                                <input type="text" placeholder="Search a User" id="searchUser" name="searchUser"
                                    aria-label="Search a User">
                                <button class="btn btn-sm btn-primary bg-primary text-light"
                                    type="submit">Search</button>
                            </form>
                        </div>
                        <div id="table-scroll" th:if="${not #lists.isEmpty(users)}" class="userTable">
                            <div class="scrollit">
                                <table class="table table-bordered table-hover mngTbl">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-list-ol mngTbl"></i>Index</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-user mngTbl"></i>First Name</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-user mngTbl"></i>Last Name</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-envelope-o mngTbl" aria-hidden="true"></i>Email</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-user-plus mngTbl" aria-hidden="true"></i>User Type</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-pencil-square-o mngTbl"></i>Edit</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-check-square mngTbl"></i>Is Active</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-ban mngTbl" aria-hidden="true"></i>Suspend</th>
                                            <th scope="col" class="mngTbl"><i class="fa fa-fw fa-check mngTbl" aria-hidden="true"></i>Activate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="user,iterator : ${users}">
                                            <td th:text="${iterator.index + 1}"></td>
                                            <td th:text="${user.first_Name}"></td>
                                            <td th:text="${user.last_Name}"></td>
                                            <td th:text="${user.email}"></td>
                                            <td th:switch="${user.user_Type}">
                                            </td>
                                            <td><a class="btn btn-sm btn-warning btn-block text-uppercase"
                                                    th:href="@{'/edit_user_admin/' + ${user.user_Id}}">Edit</a></td>
                                            <td th:text="${user.is_Active}"></td>
                                            <td th:if="${user.is_Active} == 'Y'"><a
                                                    class="btn btn btn-danger btn-block text-uppercase"
                                                    onclick="return (confirm('Are you sure you want to Suspend this user?'))"
                                                    th:href="@{'/suspend_user/' + ${user.user_Id}}">Suspend</a>
                                            <td th:if="${user.is_Active} == 'N'"><a
                                                    class="btn btn-success btn-block text-uppercase"
                                                    onclick="return (confirm('Are you sure you want to Activate this user?'))"
                                                    th:href="@{'/activate_user/' + ${user.user_Id}}">Activate</a>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="text-center text-danger" th:if="${ #lists.isEmpty(users)}">
                            <span>No users found for the search criteria</span>
                        </div>
                        <div class="addUser">
                            <a class="btn btn-sm btn-primary my-2 text-uppercase "
                                th:href="@{add_user_by_admin.html}">Add a User</a>
                        </div>


                    </div>

                </div>
            </div>
        </div>

        <div class="footer">
            <p>Copyright © 2022 Virtual Cinemas., Ltd. All Rights Reserved.
                <br>
            </p>
        </div>
    </section>


    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                        siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>


</body>

</html>