<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Movie Details Page</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="../static/css/owl.css">
  <link rel="stylesheet" href="../static/css/lightbox.css">

  <!--

    

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              Virtual Cinemas
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="{{url_for('index')}}" class="active">Home</a>
              </li>
              <li><a href="{{url_for('promotions')}}">Promotions</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)">Pages</a>
                <ul class="sub-menu">
                  {% if session['email'] or request.cookies.get('email')%}
                  <li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
                  {% endif %}
                  <li><a href="{{url_for('view_Payment')}}">Edit Payment Details</a></li>
                </ul>
              </li>
              {% if not session['email']%}
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>
              {% else %}
              <li><a href="{{url_for('logout')}}">Logout</a></li>
              {% endif %}
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="meeting-single-item">
                <div class="thumb">
                  <div id="movieImage">
                    <a href="movie_details.html"><img src="assets/images/moonfall.jpg" alt=""></a>
                  </div>
                  <div id="playVideo">
                    <iframe id="video" width="1118" height="615" src="https://www.youtube.com/embed/ivIwdQBlS10" rel="0"
                      enablejsapi="1" modestbranding="0" controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; 
                          gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
                <div class="down-content">
                  <div class="col-lg-12">
                    <h4>Moonfall</h4>&nbsp;&nbsp;&nbsp;

                    <div class="smallButton" style="margin-left: 40px;">
                      <a onclick="clickFunction()">Show/Hide Trailer</a>
                    </div> <br><br>

                      <button class="accordionNew">Basic Info</button>
                      <div class="panelNew" style="max-height: max-content;"><br>
                        <p><b>Duration: &nbsp;&nbsp;&nbsp;</b>2 HR 10 MIN</p>
                        <p><b>Genres: &nbsp;&nbsp;&nbsp;</b> Action, Adventure, Sci-Fi</p>
                        <p><b>Rating: &nbsp;&nbsp;&nbsp;</b>PG-13</p>
                        <p><b>Release Date: &nbsp;&nbsp;&nbsp;</b> February 4, 2022</p>
                        <br></div>

                      <button class="accordionNew" >Synopsis</button>
                      <div class="panelNew" ><br>
                        <p style="margin-left: 80px; margin-right: 80px;">
                          In Moonfall, a mysterious force knocks the Moon from its orbit around Earth and sends it
                          hurtling
                          on
                          a collision course with life as we know it. With mere weeks before impact and the world on the
                          brink
                          of annihilation, NASA executive and former astronaut Jo Fowler (Academy Award winner Halle
                          Berry)
                          is
                          convinced she has the key to saving us all - but only one astronaut from her past...

                          <br>
                        </p><br>
                        <br></div>
                      <button class="accordionNew">Cast Info</button>
                      <div class="panelNew"><br>
                        <p><b>Director: &nbsp;&nbsp;&nbsp;</b>Roland Emmerich</p>
                        <p><b>Producer: &nbsp;&nbsp;&nbsp;</b>Roland Emmerich, Harald Kloser</p>
                        <p><b>Cast: &nbsp;&nbsp;&nbsp;</b>Halle Berry, Patrick Wilson, John Bradley, Michael Peña,
                          Charlie Plummer, Kelly Yu, Donald Sutherland</p>
                          <br></div>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-12">
              <div class="filters">
                <div class="col-lg-12 text-center">
                  <h2 style="color: white;">Booking</h2><br><br>
                </div>
                <ul>
                  <li data-filter="*" class="active">All Showings</li>
                  <li data-filter=".current">Afternoon</li>
                  <li data-filter=".soon">Evening</li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="row grid">
                <div class="col-lg-4 templatemo-item-col all current">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>3:15pm</span>
                      </div>
                      <a href="meeting-details.html"><img src="assets/images/movie.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>12</span></h6>
                      </div>
                      <div class="col-lg-12">
                        <div class="main-button-yellow">
                          <a href="seat_selection.html">Book Now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 templatemo-item-col all current">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>4:20pm</span>
                      </div>
                      <a href="meeting-details.html"><img src="assets/images/movie.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>14</span></h6>
                      </div>
                      <div class="col-lg-12">
                        <div class="main-button-yellow">
                          <a href="seat_selection.html">Book Now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-lg-4 templatemo-item-col all soon">
                  <div class="meeting-item">
                    <div class="thumb">
                      <div class="price">
                        <span>7:35pm</span>
                      </div>
                      <a href="meeting-details.html"><img src="assets/images/movie.jpg" alt=""></a>
                    </div>
                    <div class="down-content">
                      <div class="date">
                        <h6>Nov <span>16</span></h6>
                      </div>
                      <div class="col-lg-12">
                        <div class="main-button-yellow">
                          <a href="seat_selection.html">Book Now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="pagination">
                <ul>
                  <li><a href="#">1</a></li>
                  <li class="active"><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright © 2022 Virtual Cinemas., Ltd. All Rights Reserved.
        <br>
      </p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../static/js/isotope.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/lightbox.js"></script>
  <script src="../static/js/tabs.js"></script>
  <script src="../static/js/video.js"></script>
  <script src="../static/js/slick-slider.js"></script>
  <script src="../static/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    //accordion 
    var acc = document.getElementsByClassName("accordionNew");
    var i;

    for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}

    //hide image div on click & video overlay
    function clickFunction() {
      var x = document.getElementById("movieImage");
      var y = document.getElementById("playVideo");
      var $video = $('#video');
      src = $video.attr('src');
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } else {
        x.style.display = "none";
        y.style.display = "block";
        $video.attr('src', src + '?autoplay=1');
      }
    }


    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>


</body>

</html>