<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Payment Page</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="assets/css/owl.css">
  <link rel="stylesheet" href="assets/css/lightbox.css">
  <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              Virtual Cinemas
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="promotions.html">Promotions</a></li>
              <li class="has-sub">
                <a href="javascript:void(0)" class="active">Profile</a>
                <ul class="sub-menu">
                  <li><a href="edit_profile.html">Edit Profile</a></li>
                  <li><a href="viewPaymentMethods.html">Edit Payment Details</a></li>
                </ul>
              </li>
              <li><a href="register.html">Register</a></li>
              <li><a href="login.html">Login</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="card bod"><br>
            <div class="row">
              <div class="col-md-8 cart">
                <div class="title">
                  <div class="row">
                    <div class="col ">
                      <h3>&nbsp;&nbsp;Shopping Cart</h3>
                      <hr>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="assets/images/adult.jpg"></div>
                    <div class="col">
                      <div class="row">Adult Ticket</div>
                      <hr>
                    </div>
                    <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                    <div class="col">&dollar; 13.59 <span class="close">&#10005;</span></div>
                  </div>
                </div>
                <div class="row">
                  <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="assets/images/Senior.jpg"></div>
                    <div class="col">
                      <div class="row">Senior Ticket</div>
                      <hr>
                    </div>
                    <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                    <div class="col">&dollar; 10.59 <span class="close">&#10005;</span></div>
                  </div>
                </div>
                <div class="row">
                  <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="assets/images/child.jpg"></div>
                    <div class="col">
                      <div class="row">Child Ticket</div>
                      <hr>
                    </div>
                    <div class="col"> <a href="#">-</a><a href="#" class="border">1</a><a href="#">+</a> </div>
                    <div class="col">&dollar; 9.59 <span class="close">&#10005;</span></div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 summary" style="border-left: 1px solid rgba(0,0,0,.1); padding: 2em;">
                <div>
                  <h5><b>Summary</b></h5>
                </div>
                <hr>
                <div class="row">
                  <div class="col" style="padding-left:0;">ITEMS 3</div>
                  <div class="col text-right">&dollar; 40.77</div>
                </div><br>
                <div class="row">
                  <div class="col" style="padding-left:0;">Tax</div>
                  <div class="col text-right">&dollar; 12.00</div>
                </div>
                <hr>
                <div class="row">
                  <div class="col" style="padding-left:0;">TOTAL PRICE</div>
                  <div class="col text-right">&dollar; 52.77</div>
                  <div class="main-button-red">
                    <a href="seat_selection.html">Back to Seat Selection</a>
                  </div><br>
                  <div class="main-button-red">
                    <a href="checkout.html">Continue to Checkout</a>
                  </div><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><br>
    <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons
    <div class="input-group plus-minus-input ">
      <div class="input-group-button">
        <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </div>
      <input class="input-group-field" type="number" name="quantity" value="0">
      <div class="input-group-button">
        <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div> -->
    <div class="footer">
      <p>Copyright © 2022 Virtual Cinemas., Ltd. All Rights Reserved.
        <br>
      </p>
    </div>
  </section>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/video.js"></script>
  <script src="assets/js/slick-slider.js"></script>
  <script src="assets/js/examp.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>


</body>

</html>