<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Payment Page</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="../static/css/owl.css">
  <link rel="stylesheet" href="../static/css/lightbox.css">
  <link rel="stylesheet" href="../static/css/myCustom.css">
  <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{{url_for('index')}}" class="logo">
              Virtual Cinemas
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="{{url_for('index')}}" class="active">Home</a>
              </li>
              <li class="has-sub">
                <a href="javascript:void(0)">Pages</a>
                <ul class="sub-menu">
                  {% if session['email'] or request.cookies.get('email')%}
                  <li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
                  <li><a href="{{url_for('promotions')}}">Promotions</a></li>
                  {% endif %}
                  <li><a href="{{url_for('view_Payment')}}">Edit Payment Details</a></li>
                </ul>
              </li>
              {% if not session['email']%}
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>
              {% else %}
              <li><a href="{{url_for('logout')}}">Logout</a></li>
              {% endif %}
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->


  <section class="meetings-page" id="meetings">
    <form action="{{ url_for('payment', movie=movie, show=show) }}" method="POST">
      <div class="container">
        <div class="row marginBot marginTop">
          <div class="grid-container4 roundedGrid">
            <div class="grid-item4">
              <div class="down-content">
                <div class="info">
                  <div class="row">
                    <div class="col-lg-6 mb-lg-4">
                      <div class="col-md-8 card4 marginBot" style="position: absolute; left: 12%; top: 30%;">
                        <div class="title">
                          <div class="row">
                            <div class="col ">
                              <h3>&nbsp;&nbsp;Shopping Cart</h3>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="row main align-items-center">
                            <div class="col">
                              <div class="row">Adult Ticket</div>
                              <hr>
                            </div>
                            <div class="col">
                              &dollar; 13.59
                              <a id="subtractCounterAdult">-</a>
                              <input id="inputAdult" name="inputAdult" value="0" readonly="readonly" size="1"></input>
                              <a id="addCounterAdult">+</a>
                            </div>

                          </div>
                        </div><br>
                        <div class="row">
                          <div class="row main align-items-center">
                            <div class="col">
                              <div class="row">Senior Ticket</div>
                              <hr>
                            </div>
                            <div class="col">
                              &dollar; 10.59 
                              <a id="subtractCounterSenior">-</a>
                              <input id="inputSenior" name="inputSenior" value="0" readonly="readonly" size="1"></input>
                              <a id="addCounterSenior">+</a>
                            </div>
                          </div>
                        </div><br>
                        <div class="row">
                          <div class="row main align-items-center">
                            <div class="col">
                              <div class="row">Child Ticket</div>
                              <hr>
                            </div>
                            <div class="col">
                              &dollar; 9.59 
                              <a id="subtractCounterChild">-</a>
                              <input id="inputChild" name="inputChild" value="0" readonly="readonly" size="1"></input>
                              <a id="addCounterChild">+</a>
                            </div>
                          </div>
                        </div><br>
                        <div class="main-button-yellow centeredNew2">
                          <a href="{{url_for('seatSelection', movie=movie, show=show)}}">Back to Seat Selection</a>
                        </div><br>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 card4" style="position: absolute; right: 12%; top: 30%;" ;
                  style="border-left: 1px solid rgba(0,0,0,.1); padding: 2em;">
                  <div>
                    <h3>Summary</h3>
                  </div>
                  <div class="row">
                    <div class="col" style="padding-left:0;">Tickets Allowed {{seatNumber}}</div>
                    <div class="col text-right">&dollar;
                      <input value="0" name="ticketPrice" readonly="readonly" size="1"></input>
                    </div>
                  </div><br>
                  <div class="row">
                    <div class="col" style="padding-left:0;">Tax</div>
                    <div class="col text-right">&dollar;
                      <input value="0" name="taxPrice" readonly="readonly" size="1"></input>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col" style="padding-left:0;">TOTAL PRICE</div>
                    <div class="col text-right">&dollar;
                      <input value="0" name="totalPrice" readonly="readonly" size="1"></input>
                    </div>
                    <br.<br><br>
                      {% with messages = get_flashed_messages() %}
                      {% if messages %}
                      <ul class=flashes>
                        {% for message in messages %}
                        <h3>{{ message }}</h3>
                        {% endfor %}
                      </ul>
                      {% endif %}
                      {% endwith %}
                      {% for field, errors in form.errors.items() %}
                      {{ ', '.join(errors) }}
                      {% endfor %}<br>
                      <div class="main-button-red centeredNew">
                        {{form.paymentSubmit(class="roundedGrid", type="submit",
                        style="background-color: #a12c2f;
                        color: white;
                        font-family: 'Poppins', sans-serif;")}}
                      </div><br>
                      <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
      </div>
    </form>
    <!-- Change the `data-field` of buttons and `name` of input field's for multiple plus minus buttons
    <div class="input-group plus-minus-input ">
      <div class="input-group-button">
        <button type="button" class="button hollow circle" data-quantity="minus" data-field="quantity">
          <i class="fa fa-minus" aria-hidden="true"></i>
        </button>
      </div>
      <input class="input-group-field" type="number" name="quantity" value="0">
      <div class="input-group-button">
        <button type="button" class="button hollow circle" data-quantity="plus" data-field="quantity">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>
    </div> -->
    <div class="footer">
      <p>Copyright © 2022 Virtual Cinemas., Ltd. All Rights Reserved.
        <br>
      </p>
    </div>
    </div>
    </div>
  </section>



  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../static/js/isotope.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/lightbox.js"></script>
  <script src="../static/js/tabs.js"></script>
  <script src="../static/js/video.js"></script>
  <script src="../static/js/slick-slider.js"></script>
  <script src="../static/js/examp.js"></script>
  <script src="../static/js/counter.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>


</body>

</html>