<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Template Mo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Promotions</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="../static/css/fontawesome.css">
    <link rel="stylesheet" href="../static/css/templatemo-edu-meeting.css">
    <link rel="stylesheet" href="../static/css/owl.css">
    <link rel="stylesheet" href="../static/css/lightbox.css">
    <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->

</head>

<body>



    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{{url_for('index')}}" class="logo">
                            Virtual Cinemas
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section">
                                <a href="{{url_for('index')}}" class="active">Home</a>
                            </li>
                            <li><a href="{{url_for('view_promotions')}}">Promotions</a></li>
                            <li class="has-sub">
                                <a href="javascript:void(0)">Pages</a>
                                <ul class="sub-menu">
                                    {% if session['email'] or request.cookies.get('email')%}
                                    <li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
                                    {% endif %}
                                    <li><a href="{{url_for('view_Payment')}}">Edit Payment Details</a></li>
                                </ul>
                            </li>
                            {% if not session['email']%}
                            <li><a href="{{url_for('register')}}">Register</a></li>
                            <li><a href="{{url_for('login')}}">Login</a></li>
                            {% else %}
                            <li><a href="{{url_for('logout')}}">Logout</a></li>
                            {% endif %}
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <section class="heading-page header-text" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h6>Reward yourself and save money with our</h6>
                    <h2>Promotions</h2>
                </div>
            </div>
        </div>
    </section>




<!-- 
    <section class="our-courses" id="courses">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading centeredNew">
                <h2>All Movies</h2><br><br><br>
              </div>
            </div><br><br><br><br><br><br>
            <div class="col-lg-12 card centeredNew">
              <div class="categories">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                  {% for message in messages %}
                  <h3>{{ message }}</h3>
                  {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
                <!-- {% if error %}
                  <p class=error><strong>Error:</strong> {{ error }}
                    {% endif %} -->
                {% for field, errors in form.errors.items() %}
                {{ ', '.join(errors) }}
                {% endfor %}
                <form action="{{ url_for('index') }}" method="POST">
                  <div class="row" style="float: right;">
                    <div class="row-cols-lg-1">
                      <h3>Search</h3><br>
                      <input type="text" placeholder="Search.."><br><br><br>
                      <div class="col-lg-12 form-group">
    
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {{ form.text(class="form-control", type="text", style="float: none;") }}
                      </div>
                      {{ form.search(class="btn btn-primary", type="submit", value="search")}}
                      <!-- <button type="submit" value="search" name="search"> Edit </button> -->
                    </div>
                  </div>
    
              </div>
              <div class="row" style="float: left;">
                <h3>Filters</h3><br><br><br>
                <div class="filters">
                  <ul>
                    {{ form.filter1(class="btn btn-primary", type="submit" ,value="horror")}}
                    {{ form.filter2(class="btn btn-primary", type="submit", value="comedy")}}
                    {{ form.filter3(class="btn btn-primary" ,type="submit", value="action")}}
                    <!-- <button type="submit" value="horror" name="horror"> Horror </button>
                      <button type="submit" value="comedy" name="comedy"> Comedy </button>
                      <button type="submit" value="action" name="action"> Action </button> -->
                  </ul><br><br>
                </div>
              </div>
            </div>
          </div><br><br><br><br><br><br><br><br><br><br><br><br>
    
          <div class="col-lg-12">
            <div class="grid-container">
              {%for movieP in movie%}
              <div class="grid-item">
                <div class="down-content">
                  <!-- <h4>Moonfall</h4> -->
                  <div class="info">
                    <div class="row">
                      <div class="col-8">
                        <a href="{{url_for('movie_details')}}"><img class="gridImage"
                            src="../static/images/{{movieP.movie_picture}}" alt=""></a>
                      </div>
                      <div class="col-4">
                        <h4>{{movieP.movie_title}}</h4>
                        <!-- <span>May 20</span> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {%endfor%}
            </div>
          </div>
        </div>
        </div>
      </section> -->




    <section class="meetings-page" id="meetings">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading centeredNew">
                        <h2>All Promotions</h2><br><br><br>
                    </div>
                </div><br><br><br><br><br><br>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="filters">
                                        <ul>
                                            <li data-filter="*" class="active">All Promotions</li>
                                            <li data-filter=".current">Current</li>
                                            <li data-filter=".soon">Coming Soon</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-lg-12 card centeredNew">
                                    <div class="col-lg-12">
                                        <div class="grid-container">
                                            <div class="grid-item">
                                                <div class="meeting-item">
                                                    <div class="thumb">
                                                        <div class="price">
                                                            <span>20% OFF</span>
                                                        </div>
                                                        <a href="meeting-details.html"><img
                                                                src="../static/images/bookingpromo.jpg" alt=""></a>
                                                    </div>
                                                    <div class="down-content">
                                                        <div class="date">
                                                            <h6>Nov <span>12</span></h6>
                                                        </div>
                                                        <a href="meeting-details.html">
                                                            <h4>20% Off Your Next Booking With Us!</h4>
                                                        </a>
                                                        <div class="col-lg-12">
                                                            <div class="main-button-blue">
                                                                <a href="index.html">Apply at Checkout</a>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="down-content">
                                                        <div class="info">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <a href="{{url_for('checkout')}}"></a>
                                                                </div>
                                                                <div class="col-4">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="grid-item">
                                                    <div class="meeting-item">
                                                        <div class="thumb">
                                                            <div class="price">
                                                                <span>15% OFF</span>
                                                            </div>
                                                            <a href="meeting-details.html"><img
                                                                    src="../static/images/childpromo.jpeg" alt=""></a>
                                                        </div>
                                                        <div class="down-content">
                                                            <div class="date">
                                                                <h6>Nov <span>12</span></h6>
                                                            </div>
                                                            <a href="meeting-details.html">
                                                                <h4>15% Off Children's Tickets!</h4>
                                                            </a>
                                                            <div class="col-lg-12">
                                                                <div class="main-button-blue">
                                                                    <a href="index.html">Apply at Checkout</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="down-content">
                                                        <div class="info">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <a href="{{url_for('checkout')}}"></a>
                                                                </div>
                                                                <div class="col-4">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-item">
                                                    <div class="meeting-item">
                                                        <div class="thumb">
                                                            <div class="price">
                                                                <span>BUY 1 GET 1</span>
                                                            </div>
                                                            <a href="meeting-details.html"><img
                                                                    src="../static/images/datenightpromo.jpg"
                                                                    alt=""></a>
                                                        </div>
                                                        <div class="down-content">
                                                            <div class="date">
                                                                <h6>Nov <span>12</span></h6>
                                                            </div>
                                                            <a href="meeting-details.html">
                                                                <h4>2 For 1 Date Night Special Offer!</h4>
                                                            </a>
                                                            <div class="col-lg-12">
                                                                <div class="main-button-blue">
                                                                    <a href="index.html">Apply at Checkout</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="down-content">
                                                        <div class="info">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <a href="{{url_for('checkout')}}"></a>
                                                                </div>
                                                                <div class="col-4">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="grid-item">
                                                    <div class="meeting-item">
                                                        <div class="thumb">
                                                            <div class="price">
                                                                <span>BUY 3 GET 1</span>
                                                            </div>
                                                            <a href="meeting-details.html"><img
                                                                    src="../static/images/grouppromo.jpg" alt=""></a>
                                                        </div>
                                                        <div class="down-content">
                                                            <div class="date">
                                                                <h6>Nov <span>12</span></h6>
                                                            </div>
                                                            <a href="meeting-details.html">
                                                                <h4>4 For 3 Special Group Ticket Purchases!</h4>
                                                            </a>
                                                            <div class="col-lg-12">
                                                                <div class="main-button-blue">
                                                                    <a href="index.html">Apply at Checkout</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="down-content">
                                                        <div class="info">
                                                            <div class="row">
                                                                <div class="col-8">
                                                                    <a href="{{url_for('checkout')}}"></a>
                                                                </div>
                                                                <div class="col-4">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="pagination">
                                    <ul>
                                        <li><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="footer">
                        <p>Copyright © 2022 Virtual Cinemas., Ltd. All Rights Reserved.
                            <br>
                        </p>
                    </div>
    </section>



    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/owl-carousel.js"></script>
    <script src="../static/js/lightbox.js"></script>
    <script src="../static/js/tabs.js"></script>
    <script src="../static/js/isotope.js"></script>
    <script src="../static/js/video.js"></script>
    <script src="../static/js/slick-slider.js"></script>
    <script src="../static/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                        siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
            e.preventDefault();
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>


</body>

</html>