<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Template Mo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>View Payment Methods</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="../static/css/fontawesome.css">
  <link rel="stylesheet" href="../static/css/templatemo-edu-meeting.css">
  <link rel="stylesheet" href="../static/css/owl.css">
  <link rel="stylesheet" href="../static/css/lightbox.css">
  <link rel="stylesheet" href="../static/css/myCustom.css">


  <!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
</head>

<body>



  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{{url_for('index')}}" class="logo">
              Virtual Cinemas
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section">
                <a href="{{url_for('index')}}" class="active">Home</a>
              </li>
              <li class="has-sub">
                <a href="javascript:void(0)">Pages</a>
                <ul class="sub-menu">
                  {% if session['email'] or request.cookies.get('email')%}
                  <li><a href="{{url_for('edit_profile')}}">Edit Profile</a></li>
                  <li><a href="{{url_for('promotions')}}">Promotions</a></li>
                  <li><a href="{{url_for('view_payment_details')}}">Edit Payment Details</a></li>
                  {% endif %}

                </ul>
              </li>
              {% if not session['email']%}
              <li><a href="{{url_for('register')}}">Register</a></li>
              <li><a href="{{url_for('login')}}">Login</a></li>
              {% else %}
              <li><a href="{{url_for('logout')}}">Logout</a></li>
              {% endif %}
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <section class="meetings-page" id="meetings">
    <div class="container">
      <div class="row center-screen">
        <div class="">
          <div class="grid-container3 roundedGrid">
            <div class="grid-item3">
              <div class="down-content">
                <div class="info">
                  <h3 class="" style=" color: white;">Order History</h3><br>
                  {% for booking in bookings %}
                  <div class="row">
                    <div class="col-8">
                      <br>
                      <div class="align-self-center">
                        <div class="col-lg-6 mb-lg-4" style="transform: scale(0.8);">
                          <div class="cart marginLR roundedDiv">
                            <h5 class="fw-bold">Order #: {{booking.id}}</h5>
                            <h6 class="fw-bold">Total: &dollar; {{booking.price}}</h6><br>
                            <div class="row">
                              <div class="row main align-items-center">
                                <div class="col">
                                  <div class="row">Time {{booking.booking_time}}</div>
                                  <hr>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="row main align-items-center">
                                <div class="col">
                                  <div class="row">Date {{booking.booking_date}}</div>
                                  <hr>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="row main align-items-center">
                                <div class="col">
                                  <div class="row">1 Child Ticket(s)</div>
                                  <hr>
                                </div>
                                <div class="col">&dollar; {{booking.price}}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  {%endfor%}
                </div>
              </div>
            </div>
            <div class="grid-item3">
              <div class="down-content">
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <br>
                      <h3 style=" color: white;">Saved Cards</h3><br>
                      <div class="align-self-center">
                        <div class="row">
                          {% for card in cards %}
                          <div class="col-lg-6 mb-lg-4">
                            <div class="card creditCard">
                              <br>
                              <div class="number"> <label class="fw-bold" for="">{{card.cardNumber}}</label> </div>
                              <div class="d-flex align-items-center justify-content-between">
                                <small><span class="fw-bold">Expiry date:
                                  </span><span>{{card.expirationDate}}</span></small> <br>
                                <small><span class="fw-bold">Name: </span><span>{{card.cardName}}</span></small><br><br>
                              </div>
                              <div class="main-button-yellow">
                                <a href="{{url_for('edit_payment_details',card=card.id)}}">Edit Card</a>
                              </div>
                            </div>
                          </div>
                          {%endfor%}
                        </div><br>
                        <div class="col-lg-12">
                          <div class="main-button-blue" style="transform: scale(1.2);">
                            <a href="{{url_for('add_payment_details')}}">Add a Card</a>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="footer">
      <p>Copyright © 2022 Virtual Cinemas., Ltd. All Rights Reserved.
        <br>
      </p>
    </div>
    </div>
    </div>
  </section>




  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="../static/js/isotope.min.js"></script>
  <script src="../static/js/owl-carousel.js"></script>
  <script src="../static/js/lightbox.js"></script>
  <script src="../static/js/tabs.js"></script>
  <script src="../static/js/video.js"></script>
  <script src="../static/js/slick-slider.js"></script>
  <script src="../static/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
      e.preventDefault();
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>


</body>

</html>